/* Contenedor principal */
#main {
  position: relative;
  min-height: 100vh; /* permite que el contenido crezca y la página haga scroll */
  width: 100%; /* evita horizontales raros por 100vw */
  background-image: url('/src/assets/images/landing-page.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
