@import 'tailwindcss';

* {
  font-family: 'Space Mono', monospace;
}

#root {
  background-image: url('/src/assets/images/landing-page.webp');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
